@use "../utilities/utilities" as utils;

.item_list_container {
  @include utils.flex(flex, center, center, 0, 0.5em);
  flex-direction: column;
}
.saludo {
  @include utils.flex(flex, space-between, center, 0, 0);
  width: 90vw;
}
.frase {
  color: utils.$text-accent;
  font-size: 1.5em;
}
.container {
  @include utils.flex(flex, space-between, center, 0, 0);
  width: 90%;
}
.list_container {
  @include utils.flex(flex, space-evenly, center, 0, 0);
  width: 95%;
  height: auto;
  flex-wrap: wrap;
}
.item {
  @include utils.tarjeta(200px, 350px);
  text-align: center;
  margin: 15px;
}
.item_img {
  @include utils.img(100%, 80%, cover, none, 0);
  border: solid 5px utils.$text-secondary;
  border-radius: 5px;
}
.title {
  color: utils.$text-primary;
  font-size: 1.4em;
}
