@use "../utilities/utilities" as utils;

.item_list_container {
  @include utils.flex(flex, center, center, 0, 0.5em);
  flex-direction: column;
}
.saludo {
  @include utils.flex(flex, space-between, center, 0, 0);
  width: 90vw;
}
.buscar {
  @include utils.flex(flex, space-evenly, center, 0, 0);
  color: utils.$text-accent;
  width: 25%;
  font-size: 1.3em;
}
.buscar input {
  width: 65%;
  border-radius: 5px;
}
.container {
  @include utils.flex(flex, space-between, center, 0, 0);
  width: 100%;
  flex-direction: column;
}
.list_container {
  @include utils.flex(flex, space-evenly, center, 0, 0);
  width: 100%;
  height: auto;
  flex-wrap: wrap;
}
.item {
  @include utils.tarjeta(250px, 450px);
  text-align: center;
  margin: 15px;
  text-decoration: none;
}
.item_img {
  @include utils.img(100%, 80%, cover, none, 0);
  border: solid 5px utils.$text-secondary;
  border-radius: 5px;
}
.title {
  color: utils.$text-primary;
  font-size: 1.4em;
}
.loading {
  color: utils.$text-fourth;
}
.price {
  color: utils.$text-primary;
  font-size: 1.3em;
}
.detalle {
  color: utils.$text-fourth;
  text-decoration: none;
  font-size: 1.2em;
}
