@use "./variables" as v;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: v.$bg-color;
  font-family: "Oswald", sans-serif;
}
h1 {
  font-size: 1.8rem;
  color: v.$text-fourth;
}
h2 {
  font-size: 1.7rem;
  color: v.$text-secondary;
}
h3 {
  font-size: 1.6rem;
  color: v.$text-primary;
}
.btn-primary,
.btn-secondary {
  background-color: v.$btn-primary-bg;
  color: v.$btn-primary-text;
  border: none;
  padding: 0.5em 1em;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}
.btn-secondary {
  background-color: v.$btn-secondary-bg;
  color: v.$bg-color;
  font-size: 1rem;
  font-weight: 900;
  margin: 1em;
}
