$text-primary: #f5f5f5;
$text-secondary: #e6cc0b;
$text-tertiary: #18d018;
$text-fourth: #ff4500;
$text-accent: #2459ec;
$bg-color: #20231f; //fondo de toda la pag

$btn-primary-bg: #2459ec;
$btn-primary-text: #ffffff;
